[user]
	name = dtrckd
	email = dtrckd@gmail.com
[push]
	default = simple
[branch]
	autosetupmerge =
[credential]
    helper = cache --timeout=3600000
[diff]
	tool = vimdiff
[pull]
	rebase = true
[core]
	excludesfile = /home/dtrckd/.gitignore
    pager = delta --wrap-max-lines=5  --dark --syntax-theme="Dracula" --file-style='bold 201' --plus-style='syntax 17'
	editor = /usr/bin/vim.nox
    #pager = delta --wrap-max-lines=0 --dark --syntax-theme="Dracula" --file-style='bold 201' --plus-style='syntax 17'
[delta]
    side-by-side = true
[init]
	defaultBranch = main
[alias]
    find = log --all --pretty=\"format:%Cgreen%H %Cred%s\"  --grep
