# Secrets
.env
.envrc

.mypy.ini


# Builds
*.swp
*.swo
.session.vim
.tags
*.egg-info
__pycache__/
.pytest_cache/
.virtual_documents/
.ipynb_checkpoints/
.mypy_cache/
.ruff_cache/
.direnv/
vendor/
node_modules/
elm-stuff/
