[user]
	name = dtrckd
	email = dtrckd@gmail.com
[push]
	default = simple
[branch]
	autosetupmerge =
[credential]
    helper = cache --timeout=3600000
[diff]
	tool = vimdiff
[pull]
	rebase = true
[core]
	excludesfile = /home/dtrckd/.gitignore
    pager = delta --dark --plus-color=17 --minus-color=53 --hunk-color=3 --theme="TwoDark" --file-color=226
#[git-bug ...
