[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram
Comment=
Exec=/snap/bin/telegram-desktop
Icon=/usr/share/icons/vendor/telegram-logo.png
Path=/tmp
Terminal=false
StartupNotify=false
