[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram
Comment=
Exec=/snap/bin/telegram-desktop
Icon=/home/dtrckd/Pictures/icon_/telegram-logo.png
Path=/tmp
Terminal=false
StartupNotify=false
