# Temporary Files
*.sw[mnopl]
*.py[co]
__pycache__
*.[ao]
tags
*.out
*~
.session.vim
*.byobu

# Private
vocabulary.md
etc/wpa_supplicant/**
etc/grub/**
.free

# Project
webmain
webmain/
mixtures/
mixtures
mixtures/
app
app/

# Security
*/.ssh/*
!.ssh/config

!*/
