# Temporary Files
*.sw[mnopl]
*.py[co]
__pycache__
*.[ao]
tags
*.out
*~
.session.vim
*.byobu

# tmp
/dotfiles/.config/xmms2/bindata/
*.sqlite

# Private
/.free
/.coin
/.logins
/logins.csv
/addr
# --
/dotfiles/.ssh/
/dotfiles/.gethubconfig
/dotfiles/.bash_aliases
/dotfiles/.mutt
/dotfiles/.muttrc
/dotfiles/.config/xfce4/desktop/
/dotfiles/.config/aichat/
# --
/configure/snapshots/
/configure/blue/
/configure/bin.txt
/configure/nodeslist
/etc/wpa_supplicant/
/credentials/
# --
/app/

