# Temporary Files
*.sw[mnopl]
*.py[co]
__pycache__
*.[ao]
tags
*.out
*~
.session.vim
*.byobu

# tmp
dotfiles/.config/xmms2/bindata/*

# Private
.free
.coin
addr
dotfiles/.gethubconfig
dotfiles/.bash_aliases
etc/wpa_supplicant/***
configure/snapshots/***
credentials/*

# Project
webmain
webmain/
mixtures/
mixtures
mixtures/
app/***
!app/systemd/*


# Security
*/.ssh/*
!.ssh/config

!*/
