[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/Je vais soutenir ma thèseMSTII.ppsx]
row=2
col=10

[/home/dtrckd/Desktop/pres.txt]
row=7
col=0

[/home/dtrckd/Desktop/droit_diffusion.pdf]
row=4
col=0

[/home/dtrckd/Desktop/Thse_-_au_-_20_-_novembre_-_2011.pdf]
row=9
col=0

[/home/dtrckd/Desktop/avis de soutenance.pdf]
row=5
col=0

[/home/dtrckd/Desktop/statuts]
row=0
col=0

[/home/dtrckd/Desktop/jpineau-NeurIPS-dec18-fb.pdf]
row=3
col=0

[/home/dtrckd/Desktop/HeteroNAM_2018_paper_10.pdf]
row=6
col=0

[/home/dtrckd/Desktop/workInProgress]
row=1
col=0

[/home/dtrckd/Desktop/avenirsocieteindustrielle.pdf]
row=7
col=2

[/home/dtrckd/Desktop/kropotkine - l-entraide.pdf]
row=7
col=3

[/home/dtrckd/Desktop/couverture_these.pdf]
row=3
col=14

[/home/dtrckd/Desktop/THES_MOD_01_UGA_couverture_these_classique.doc]
row=8
col=0

[/home/dtrckd/Desktop/todo]
row=4
col=2

[/home/dtrckd/Desktop/couv.pdf]
row=2
col=14

[Trash]
row=2
col=0

