[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/xr_note.txt]
row=11
col=1

[/home/dtrckd/Desktop/rework.pdf]
row=1
col=7

[/home/dtrckd/Desktop/sos.md]
row=3
col=0

[/home/dtrckd/Desktop/CONSTITUTION_SAO_PARIS_NORD V2.pdf]
row=9
col=4

[/home/dtrckd/Desktop/2. Outils communication non violente.zip]
row=7
col=0

[/home/dtrckd/Desktop/XR_rad_lecture.zip]
row=0
col=0

[/home/dtrckd/Desktop/tt]
row=8
col=0

[/home/dtrckd/Desktop/radicalité_et_violence.txt]
row=10
col=1

[/home/dtrckd/Desktop/nsa_python.pdf]
row=0
col=1

[/home/dtrckd/Desktop/main]
row=2
col=0

[/home/dtrckd/Desktop/UAI_SESSION.png]
row=8
col=10

[/home/dtrckd/Desktop/id_ad]
row=6
col=0

[/home/dtrckd/Desktop/sos-game.txt]
row=10
col=0

[/home/dtrckd/Desktop/sos-notes.txt]
row=2
col=1

[/home/dtrckd/Desktop/bill.pdf]
row=8
col=9

[/home/dtrckd/Desktop/jensen_taxonomy-of-action-large.jpg]
row=5
col=0

[/home/dtrckd/Desktop/sos-spec.txt]
row=4
col=0

[/home/dtrckd/Desktop/todo.txt]
row=1
col=1

[/home/dtrckd/Desktop/FRACTAL_USAGE.txt]
row=4
col=1

[/home/dtrckd/Desktop/shape-up.pdf]
row=2
col=7

[Trash]
row=1
col=0

