[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/Covid-19-resultats-par-age-et-statut-vac_12-12-2021 (1).ods]
row=4
col=0

[/home/dtrckd/Desktop/idh]
row=0
col=0

[/home/dtrckd/Desktop/tt]
row=8
col=0

[/home/dtrckd/Desktop/manifesto.txt]
row=3
col=7

[/home/dtrckd/Desktop/dgraph.pdf]
row=5
col=0

[/home/dtrckd/Desktop/MEP_GUIDE_V7.pdf]
row=5
col=4

[/home/dtrckd/Desktop/fixing social media.pdf]
row=4
col=4

[/home/dtrckd/Desktop/fractal6-light.png]
row=4
col=5

[/home/dtrckd/Desktop/ad4c2a7f-a8f3-4550-b389-007a85af93c4.mp4]
row=7
col=0

[/home/dtrckd/Desktop/Candy_Etude_de_la_transposition_didactique_du_concept_d'ideale.pdf]
row=3
col=0

[/home/dtrckd/Desktop/TheorieRelativedelaMonnaie.epub]
row=6
col=0

[/home/dtrckd/Desktop/welcome-fractale.txt]
row=3
col=5

[/home/dtrckd/Desktop/todo.txt]
row=4
col=2

[/home/dtrckd/Desktop/the case for alternative social media.pdf]
row=6
col=4

[/home/dtrckd/Desktop/fractale_manifesto]
row=3
col=6

[/home/dtrckd/Desktop/main]
row=1
col=0

[/home/dtrckd/Desktop/temp_clara_traduction.txt]
row=4
col=6

[/home/dtrckd/Desktop/sos]
row=3
col=4

[Trash]
row=15
col=30

