[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/INV-000001-floralis-uga-filiale.pdf]
row=8
col=5

[/home/dtrckd/Desktop/ico-126.png]
row=1
col=0

[/home/dtrckd/Desktop/todo.txt]
row=1
col=3

[/home/dtrckd/Desktop/FACTURE-19-11-1-FLORALIS-UGA-FILIALE.pdf]
row=0
col=2

[/home/dtrckd/Desktop/workInProgress]
row=0
col=0

[/home/dtrckd/Desktop/xr_note.txt]
row=1
col=4

[/home/dtrckd/Desktop/sos.md]
row=0
col=3

[/home/dtrckd/Desktop/sos-notes.txt]
row=1
col=1

[/home/dtrckd/Desktop/Omio_Mobile_Tickets_MALEU5.pdf]
row=0
col=4

[/home/dtrckd/Desktop/tt]
row=8
col=0

[/home/dtrckd/Desktop/INV-000002-floralis-uga-filiale.pdf]
row=9
col=5

[/home/dtrckd/Desktop/cr-wmmsb-1219.txt]
row=1
col=2

[/home/dtrckd/Desktop/sucre.txt]
row=2
col=0

[/home/dtrckd/Desktop/radicalité_et_violence.txt]
row=1
col=5

[Lumia 550 (RM 1127)]
row=0
col=1

[Trash]
row=6
col=18

