[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/kuku.txt]
row=1
col=1

[/home/dtrckd/Desktop/todo.txt]
row=3
col=1

[/home/dtrckd/Desktop/temp_clara_traduction.txt]
row=2
col=1

[/home/dtrckd/Desktop/sos]
row=4
col=0

[/home/dtrckd/Desktop/alloc-ass.pdf]
row=0
col=1

[/home/dtrckd/Desktop/30-10-2020-attestation-de-deplacement-derogatoire.pdf]
row=5
col=0

[769E93CC9E938373]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/dtrckd]
row=2
col=0

