[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/workInProgress]
row=1
col=0

[/home/dtrckd/Desktop/declaration.pdf]
row=3
col=24

[/home/dtrckd/Desktop/index-12.html]
row=17
col=0

[/home/dtrckd/Desktop/index-9.html]
row=15
col=0

[/home/dtrckd/Desktop/index-3.html]
row=9
col=0

[/home/dtrckd/Desktop/FACTURE-I-20-02-2-FLORALIS-UGA-FILIALE.pdf]
row=3
col=23

[/home/dtrckd/Desktop/xr_note.txt]
row=7
col=3

[/home/dtrckd/Desktop/FLIX-Luggage-1075692670.pdf]
row=1
col=11

[/home/dtrckd/Desktop/index-11.html]
row=16
col=0

[/home/dtrckd/Desktop/index-8.html]
row=14
col=0

[/home/dtrckd/Desktop/sos.md]
row=5
col=3

[/home/dtrckd/Desktop/tt]
row=8
col=0

[/home/dtrckd/Desktop/2. Outils communication non violente.zip]
row=7
col=4

[/home/dtrckd/Desktop/index-2.html]
row=7
col=0

[/home/dtrckd/Desktop/radicalité_et_violence.txt]
row=7
col=2

[/home/dtrckd/Desktop/nsa_python.pdf]
row=3
col=0

[/home/dtrckd/Desktop/index-7.html]
row=13
col=0

[/home/dtrckd/Desktop/index-10.html]
row=4
col=0

[/home/dtrckd/Desktop/index-1.html]
row=5
col=0

[/home/dtrckd/Desktop/sos-game.txt]
row=6
col=2

[/home/dtrckd/Desktop/sos-notes.txt]
row=5
col=2

[/home/dtrckd/Desktop/index-6.html]
row=12
col=0

[/home/dtrckd/Desktop/jensen_taxonomy-of-action-large.jpg]
row=9
col=16

[/home/dtrckd/Desktop/44220200118200522449647-attestationDepotPermisInternational.pdf]
row=13
col=7

[/home/dtrckd/Desktop/sos-spec.txt]
row=6
col=3

[/home/dtrckd/Desktop/index-14.html]
row=1
col=1

[/home/dtrckd/Desktop/index-5.html]
row=11
col=0

[/home/dtrckd/Desktop/FLIX-Ticket-1075692670.pdf]
row=1
col=12

[/home/dtrckd/Desktop/todo.txt]
row=2
col=6

[/home/dtrckd/Desktop/index-13.html]
row=0
col=1

[/home/dtrckd/Desktop/ico-126.png]
row=2
col=0

[/home/dtrckd/Desktop/index-4.html]
row=10
col=0

[DB4E-39A1]
row=6
col=0

[88E6-A0E1]
row=0
col=0

[Trash]
row=16
col=30

