[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/Covid-19-resultats-par-age-et-statut-vac_12-12-2021 (1).ods]
row=6
col=22

[/home/dtrckd/Desktop/idh]
row=1
col=0

[/home/dtrckd/Desktop/sku.md]
row=5
col=0

[/home/dtrckd/Desktop/manifesto.txt]
row=5
col=3

[/home/dtrckd/Desktop/dgraph.pdf]
row=6
col=3

[/home/dtrckd/Desktop/MEP_GUIDE_V7.pdf]
row=4
col=11

[/home/dtrckd/Desktop/babyAgi.jpeg]
row=4
col=0

[/home/dtrckd/Desktop/fixing social media.pdf]
row=0
col=17

[/home/dtrckd/Desktop/tt]
row=8
col=0

[/home/dtrckd/Desktop/Candy_Etude_de_la_transposition_didactique_du_concept_d'ideale.pdf]
row=0
col=19

[/home/dtrckd/Desktop/TheorieRelativedelaMonnaie.epub]
row=9
col=7

[/home/dtrckd/Desktop/todo.txt]
row=4
col=2

[/home/dtrckd/Desktop/the case for alternative social media.pdf]
row=0
col=18

[/home/dtrckd/Desktop/fractale_manifesto]
row=0
col=1

[/home/dtrckd/Desktop/main]
row=0
col=0

[/home/dtrckd/Desktop/sos]
row=6
col=0

[Trash]
row=2
col=0

