[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/2019-07-12-dessin-une-cfp-france-24-tjeerds-royaards.jpg]
row=6
col=0

[/home/dtrckd/Desktop/statuts]
row=7
col=0

[/home/dtrckd/Desktop/last_dijon.pdf]
row=9
col=0

[/home/dtrckd/Desktop/rabbit_blue.pdf]
row=6
col=3

[/home/dtrckd/Desktop/todo.txt]
row=4
col=2

[/home/dtrckd/Desktop/HeteroNAM_2018_paper_10.pdf]
row=10
col=0

[/home/dtrckd/Desktop/jpineau-NeurIPS-dec18-fb.pdf]
row=10
col=1

[/home/dtrckd/Desktop/workInProgress]
row=2
col=0

[/home/dtrckd/Desktop/avenirsocieteindustrielle.pdf]
row=7
col=2

[/home/dtrckd/Desktop/P19900-book_houy_thomas.pdf]
row=5
col=0

[/home/dtrckd/Desktop/tt]
row=8
col=0

[/home/dtrckd/Desktop/MARSEILLE_DIJON_201908051007_QNCRCU.pdf]
row=3
col=0

[/home/dtrckd/Desktop/PP ruches VOIX.pptx]
row=7
col=7

[/home/dtrckd/Desktop/sucre.txt]
row=3
col=9

[/home/dtrckd/Desktop/somewhere]
row=4
col=0

[68E1-E05D]
row=11
col=0

[DB4E-39A1]
row=0
col=0

[Trash]
row=1
col=0

