[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/inLecture]
row=3
col=8

[/home/dtrckd/Desktop/workInProgress]
row=2
col=7

[/home/dtrckd/Desktop/papers]
row=4
col=8

[Trash]
row=11
col=21

