[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/XR_rad_lecture.zip]
row=1
col=1

[/home/dtrckd/Desktop/FLIX-Ticket-1075692670.pdf]
row=5
col=0

[/home/dtrckd/Desktop/2. Outils communication non violente.zip]
row=10
col=0

[/home/dtrckd/Desktop/nsa_python.pdf]
row=7
col=0

[/home/dtrckd/Desktop/todo.txt]
row=2
col=5

[/home/dtrckd/Desktop/sos-game.txt]
row=4
col=4

[/home/dtrckd/Desktop/P-202-AOC-03-20.pdf]
row=6
col=0

[/home/dtrckd/Desktop/xr_note.txt]
row=5
col=3

[/home/dtrckd/Desktop/cookies-localhost.txt]
row=3
col=1

[/home/dtrckd/Desktop/COVID19 a conversation.pdf]
row=4
col=8

[/home/dtrckd/Desktop/CONSTITUTION_SAO_PARIS_NORD V2.pdf]
row=9
col=0

[/home/dtrckd/Desktop/sos-spec.txt]
row=5
col=4

[/home/dtrckd/Desktop/Referentiel-loossois-de-limplication-Citoyenne-6-decembre-2019-V1-Comite-scientifique.pdf]
row=5
col=8

[/home/dtrckd/Desktop/FLIX-Luggage-1075692670.pdf]
row=4
col=0

[/home/dtrckd/Desktop/jensen_taxonomy-of-action-large.jpg]
row=11
col=0

[/home/dtrckd/Desktop/tt]
row=8
col=0

[/home/dtrckd/Desktop/workInProgress]
row=1
col=0

[/home/dtrckd/Desktop/sos.md]
row=4
col=3

[/home/dtrckd/Desktop/FRACTAL_USAGE.txt]
row=4
col=1

[/home/dtrckd/Desktop/wmmsb.pdf]
row=0
col=0

[/home/dtrckd/Desktop/sos-notes.txt]
row=6
col=3

[/home/dtrckd/Desktop/IMG_0808.JPG]
row=2
col=1

[/home/dtrckd/Desktop/44220200118200522449647-attestationDepotPermisInternational.pdf]
row=3
col=0

[/home/dtrckd/Desktop/radicalité_et_violence.txt]
row=6
col=4

[/home/dtrckd/Desktop/sao_frac6.txt]
row=0
col=1

[Trash]
row=2
col=0

