[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/ico-126.png]
row=2
col=0

[/home/dtrckd/Desktop/2. Outils communication non violente.zip]
row=6
col=8

[/home/dtrckd/Desktop/todo.txt]
row=4
col=5

[/home/dtrckd/Desktop/sos-game.txt]
row=6
col=2

[/home/dtrckd/Desktop/workInProgress]
row=1
col=0

[/home/dtrckd/Desktop/xr_note.txt]
row=7
col=3

[/home/dtrckd/Desktop/sos-spec.txt]
row=4
col=0

[/home/dtrckd/Desktop/sos-notes.txt]
row=5
col=2

[/home/dtrckd/Desktop/sos.md]
row=2
col=4

[/home/dtrckd/Desktop/tt]
row=8
col=0

[/home/dtrckd/Desktop/DEVIS-I-19-12-5-IAE-DE-ST-ETIENNE.pdf]
row=0
col=0

[/home/dtrckd/Desktop/cv.pdf]
row=3
col=0

[/home/dtrckd/Desktop/radicalité_et_violence.txt]
row=7
col=2

[DB4E-39A1]
row=5
col=0

[Trash]
row=6
col=0

