[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/declaration.pdf]
row=3
col=24

[/home/dtrckd/Desktop/FLIX-Ticket-1075692670.pdf]
row=1
col=12

[/home/dtrckd/Desktop/ico-126.png]
row=6
col=0

[/home/dtrckd/Desktop/2. Outils communication non violente.zip]
row=6
col=8

[/home/dtrckd/Desktop/nsa_python.pdf]
row=3
col=0

[/home/dtrckd/Desktop/todo.txt]
row=4
col=2

[/home/dtrckd/Desktop/sos-game.txt]
row=6
col=2

[/home/dtrckd/Desktop/xr_note.txt]
row=13
col=0

[/home/dtrckd/Desktop/workInProgress]
row=1
col=0

[/home/dtrckd/Desktop/sos-spec.txt]
row=6
col=3

[/home/dtrckd/Desktop/sos-notes.txt]
row=5
col=2

[/home/dtrckd/Desktop/sos.md]
row=2
col=4

[/home/dtrckd/Desktop/FLIX-Luggage-1075692670.pdf]
row=1
col=11

[/home/dtrckd/Desktop/FACTURE-I-20-02-2-FLORALIS-UGA-FILIALE.pdf]
row=3
col=23

[/home/dtrckd/Desktop/tt]
row=8
col=0

[/home/dtrckd/Desktop/jensen_taxonomy-of-action-large.jpg]
row=9
col=16

[/home/dtrckd/Desktop/44220200118200522449647-attestationDepotPermisInternational.pdf]
row=13
col=7

[/home/dtrckd/Desktop/radicalité_et_violence.txt]
row=11
col=0

[Trash]
row=16
col=30

