[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/resp.txt]
row=5
col=0

[/home/dtrckd/Desktop/Covid-19-resultats-par-age-et-statut-vac_12-12-2021 (1).ods]
row=6
col=22

[/home/dtrckd/Desktop/schema-ed.png]
row=1
col=1

[/home/dtrckd/Desktop/idh]
row=1
col=0

[/home/dtrckd/Desktop/main]
row=0
col=0

[/home/dtrckd/Desktop/tt]
row=8
col=0

[/home/dtrckd/Desktop/Covid-19-resultats-par-age-et-statut-vac_12-12-2021 (1).xlsx]
row=6
col=23

[/home/dtrckd/Desktop/FKj1r9VXwAMwZ-1.jpeg]
row=5
col=1

[/home/dtrckd/Desktop/dgraph.pdf]
row=9
col=0

[/home/dtrckd/Desktop/MEP_GUIDE_V7.pdf]
row=3
col=12

[/home/dtrckd/Desktop/manifesto.txt]
row=5
col=3

[/home/dtrckd/Desktop/fractal6-light.png]
row=4
col=1

[/home/dtrckd/Desktop/La lutte climatique demeure encore très blanche et hétérocentrée.pdf]
row=2
col=1

[/home/dtrckd/Desktop/fixing social media.pdf]
row=3
col=0

[/home/dtrckd/Desktop/Candy_Etude_de_la_transposition_didactique_du_concept_d'ideale.pdf]
row=11
col=0

[/home/dtrckd/Desktop/TheorieRelativedelaMonnaie.epub]
row=9
col=7

[/home/dtrckd/Desktop/Eliot-Pink Brain, Blue Brain How Small Differences Grow Into Troublesome Gaps And What We Can Do About It.epub]
row=4
col=0

[/home/dtrckd/Desktop/AXFHRTV33.pdf]
row=10
col=22

[/home/dtrckd/Desktop/alloc-ass.pdf]
row=2
col=10

[/home/dtrckd/Desktop/Machine Learning with Python Cookbook Practical Solutions from Preprocessing to Deep Learning by Chris Albon (z-lib.org).pdf]
row=7
col=5

[/home/dtrckd/Desktop/temp_clara_traduction.txt]
row=4
col=6

[/home/dtrckd/Desktop/todo.txt]
row=2
col=6

[/home/dtrckd/Desktop/Deep Learning with Python by Francois Chollet (z-lib.org).pdf]
row=8
col=6

[/home/dtrckd/Desktop/fractale_manifesto]
row=0
col=1

[/home/dtrckd/Desktop/the case for alternative social media.pdf]
row=10
col=0

[/home/dtrckd/Desktop/kuku.txt]
row=2
col=5

[/home/dtrckd/Desktop/slik_recovery_key_undefined.pdf]
row=7
col=0

[/home/dtrckd/Desktop/Qualités & axes de progression vu par les autres.digitale - V4 - 08.01.22.pdf]
row=3
col=1

[/home/dtrckd/Desktop/sos]
row=6
col=0

[/home/dtrckd/Desktop/welcome-fractale.txt]
row=7
col=3

[Trash]
row=2
col=0

