[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/workInProgress]
row=3
col=0

[/home/dtrckd/Desktop/mail.txt]
row=2
col=1

[/home/dtrckd/Desktop/xr_note.txt]
row=5
col=3

[/home/dtrckd/Desktop/sos.md]
row=4
col=3

[/home/dtrckd/Desktop/CONSTITUTION_SAO_PARIS_NORD V2.pdf]
row=9
col=0

[/home/dtrckd/Desktop/2. Outils communication non violente.zip]
row=10
col=0

[/home/dtrckd/Desktop/XR_rad_lecture.zip]
row=1
col=1

[/home/dtrckd/Desktop/tt]
row=0
col=0

[/home/dtrckd/Desktop/radicalité_et_violence.txt]
row=6
col=4

[/home/dtrckd/Desktop/nsa_python.pdf]
row=7
col=0

[/home/dtrckd/Desktop/covid19]
row=2
col=8

[/home/dtrckd/Desktop/Data IA-simplon.pdf]
row=5
col=0

[/home/dtrckd/Desktop/sos-game.txt]
row=4
col=4

[/home/dtrckd/Desktop/sos-notes.txt]
row=6
col=3

[/home/dtrckd/Desktop/SAS METABUG - Acte unanime - Réduction de capital.pdf]
row=11
col=0

[/home/dtrckd/Desktop/jensen_taxonomy-of-action-large.jpg]
row=5
col=1

[/home/dtrckd/Desktop/44220200118200522449647-attestationDepotPermisInternational.pdf]
row=1
col=0

[/home/dtrckd/Desktop/sos-spec.txt]
row=5
col=4

[/home/dtrckd/Desktop/ficheMetierPdf.zip]
row=6
col=0

[/home/dtrckd/Desktop/todo.txt]
row=4
col=2

[/home/dtrckd/Desktop/Bilan-2020-06-02-21-42-06-résultats.pdf]
row=0
col=1

[/home/dtrckd/Desktop/FRACTAL_USAGE.txt]
row=4
col=1

[/home/dtrckd/Desktop/ficheMetierPdf.zip.part]
row=8
col=7

[Trash]
row=2
col=0

