[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/tt]
row=8
col=0

[/home/dtrckd/Desktop/idh]
row=1
col=0

[/home/dtrckd/Desktop/devops-burger.jpeg]
row=5
col=0

[/home/dtrckd/Desktop/GPT4All.desktop]
row=11
col=0

[/home/dtrckd/Desktop/sfr-facture-0.pdf]
row=3
col=0

[/home/dtrckd/Desktop/babyAgi.jpeg]
row=4
col=0

[/home/dtrckd/Desktop/MEP_GUIDE_V7.pdf]
row=4
col=11

[/home/dtrckd/Desktop/Dockerfile]
row=12
col=0

[/home/dtrckd/Desktop/gpt4all-installer-linux.run]
row=10
col=0

[/home/dtrckd/Desktop/The.Hitchhikers.Guide.to.the.Galaxy.2005.1080p.BluRay.H264.AAC-RARBG.zip]
row=4
col=6

[/home/dtrckd/Desktop/todo.txt]
row=4
col=2

[/home/dtrckd/Desktop/main]
row=0
col=0

[/home/dtrckd/Desktop/administrer_ressources_outscale.md]
row=9
col=4

[/home/dtrckd/Desktop/outscale_laluli.rsa]
row=7
col=0

[/home/dtrckd/Desktop/Fine-tuning Llama 2 An overview.pdf]
row=9
col=0

[/home/dtrckd/Desktop/sos]
row=6
col=0

[Trash]
row=2
col=0

