[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/wsim.txt]
row=0
col=0

[/home/dtrckd/Desktop/statuts]
row=5
col=0

[/home/dtrckd/Desktop/jpineau-NeurIPS-dec18-fb.pdf]
row=11
col=0

[/home/dtrckd/Desktop/HeteroNAM_2018_paper_10.pdf]
row=10
col=0

[/home/dtrckd/Desktop/workInProgress]
row=3
col=0

[/home/dtrckd/Desktop/avenirsocieteindustrielle.pdf]
row=4
col=0

[/home/dtrckd/Desktop/tt]
row=8
col=0

[/home/dtrckd/Desktop/todo]
row=4
col=2

[Trash]
row=2
col=0

