[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/inLecture]
row=4
col=8

[/home/dtrckd/Desktop/workInProgress]
row=2
col=6

[/home/dtrckd/Desktop/papers]
row=3
col=7

[F830-AB52]
row=1
col=0

[Trash]
row=9
col=22

