[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dtrckd/Desktop/PARIS_GARE_LYON-MARSEILLE_ST_CHAR_06-10-23_DULAC_ADRIEN_TGWTUX_7kgw7KR6EkT55CT6Vlt8.pdf]
row=0
col=34

[/home/dtrckd/Desktop/idh]
row=8
col=34

[/home/dtrckd/Desktop/tt]
row=10
col=34

[/home/dtrckd/Desktop/devops-burger.jpeg]
row=5
col=34

[/home/dtrckd/Desktop/GPT4All.desktop]
row=0
col=35

[/home/dtrckd/Desktop/MEP_GUIDE_V7.pdf]
row=6
col=34

[/home/dtrckd/Desktop/babyAgi.jpeg]
row=2
col=34

[/home/dtrckd/Desktop/GPC Publication Nov 2022 GDSN production _ partir du 20 mai 2023 (GDSN) v20221212 FR.json]
row=3
col=34

[/home/dtrckd/Desktop/MARSEILLE_ST_CHAR-PARIS_GARE_LYON_05-10-23_DULAC_ADRIEN_TFPIVW_TjnUipX3qQ3DaEBJNRZm.pdf]
row=1
col=34

[/home/dtrckd/Desktop/gpt4all-installer-linux.run]
row=1
col=35

[/home/dtrckd/Desktop/todo.txt]
row=0
col=0

[/home/dtrckd/Desktop/main]
row=7
col=34

[/home/dtrckd/Desktop/app_spp_prompt.py]
row=3
col=35

[/home/dtrckd/Desktop/Serious reading takes a hit from online scanning and skimming, researchers say.pdf]
row=4
col=34

[/home/dtrckd/Desktop/sos]
row=9
col=34

[Trash]
row=2
col=35

