[Desktop Entry]
Name=Element
Exec=/snap/bin/element-desktop
Terminal=false
Type=Application
Icon=/home/dtrckd/Pictures/icon_/elemen-logo.png
StartupWMClass=Element
Comment=A feature-rich client for Matrix.org
MimeType=x-scheme-handler/element;
Categories=Network;InstantMessaging;Chat;
X-XFCE-Source=file:///usr/share/applications/element-desktop.desktop
Path=
StartupNotify=false
