[Desktop Entry]
Name=Bruno
Exec=/snap/bin/bruno %U
Terminal=false
Type=Application
Icon=/home/dtrckd/Pictures/icon_/bruno.ico
StartupWMClass=Bruno
Comment=Opensource API Client for Exploring and Testing APIs
Categories=Development;
X-XFCE-Source=file:///usr/share/applications/bruno.desktop
Path=
StartupNotify=false
