"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-gfm"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".swp"
      "node_modules"
      "vendor"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: true
    fontSize: 15
    invisibles: {}
    softTabs: true
    softWrapHangingIndent: 2
    tabLength: 2
    tabType: "soft"
  "elm-format": {}
  "exception-reporting":
    userId: "a0ceeb79-4728-4e97-be0a-d493c78df878"
  "file-watcher":
    promptWhenChange: true
  "fuzzy-finder":
    ignoredNames: [
      "*.class"
      "*.asc"
    ]
  minimap: {}
  "project-plus":
    notifications: false
    showPath: true
  "spell-check":
    locales: [
      "en-US"
      "fr-FR"
    ]
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".python.source":
  editor:
    autoIndent: true
    tabLength: 2
