"*":
  core:
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".swp"
      "node_modules"
      "vendor"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: true
    fontSize: 12
    invisibles: {}
    softTabs: true
    softWrapHangingIndent: 2
    tabLength: 2
    tabType: "soft"
  "exception-reporting":
    userId: "a0ceeb79-4728-4e97-be0a-d493c78df878"
  "file-watcher":
    promptWhenChange: true
  "fuzzy-finder":
    ignoredNames: [
      "*.class"
      "*.asc"
    ]
  "markdown-preview-enhanced":
    enableEmojiSyntax: false
    previewTheme: "gothic.css"
  minimap:
    autoToggle: false
  "project-plus":
    notifications: false
    showPath: true
  "spell-check":
    locales: [
      "en-US"
      "fr-FR"
    ]
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".python.source":
  editor:
    autoIndent: true
    tabLength: 2
