'body .native-key-bindings':
  'alt-up':'unset!'
  'alt-down':'unset!'
'.platform-linux':
  'ctrl-i':'fuzzy-finder:toggle-file-finder'
'.platform-win32, .platform-linux':
  'ctrl-p':'tree-view:toggle'
'atom-text-editor':
  'alt-up':'project-plus:open-next-recently-used-project'
  'alt-down':'project-plus:open-previous-recently-used-project'
  'alt-,':'editor:toggle-soft-wrap'
