'body .native-key-bindings':
  'alt-up':'unset!'
  'alt-down':'unset!'
  'ctrl-h':'unset!'
'.platform-linux':
  'ctrl-i':'fuzzy-finder:toggle-file-finder'
  'ctrl-p':'tree-view:toggle'
  'ctrl-0':'tree-view:toggle-focus'
'atom-text-editor':
  'ctrl-shift-up':'project-plus:open-next-recently-used-project'
  'ctrl-shift-down':'project-plus:open-previous-recently-used-project'
  'alt-,':'editor:toggle-soft-wrap'
'atom-workspace':
  'ctrl-;': 'minimap:toggle'
'.tree-view':
  'ctrl-h': 'tree-view:toggle-vcs-ignored-files'
