"fractal-spec":
  title: "fractal-spec"
  paths: [
    "/home/dtrckd/Desktop/workInProgress/networkofgraphs/missions/fractal"
  ]
"fractal-schema":
  title: "fractal-schema"
  paths: [
    "/home/dtrckd/Desktop/workInProgress/networkofgraphs/missions/fractal/fractal6/schema"
  ]
