"fractale-spec":
  title: "fractal-spec"
  paths: [
    "/home/dtrckd/main/networkofgraphs/missions/fractal"
  ]
"fractale-schema":
  title: "fractal-schema"
  paths: [
    "/home/dtrckd/main/missions/fractale/fractalschema"
  ]
"fractale-ui-elm":
  title: "fractal-ui-elm"
  paths: [
    "/home/dtrckd/main/missions/fractale/fractal6/fractal6-ui.elm"
  ]
"fractale-go":
  title: "fractale-go"
  paths: [
    "/home/dtrckd/main/missions/fractale/fractal6/fractal6.go"
  ]
