[Desktop Entry]
Version=1.0
Type=Application
Name=Gitter
Comment=
Exec=/snap/bin/gitter-desktop
Icon=internet-group-chat
Path=/tmp
Terminal=false
StartupNotify=false
